{{- if .Values.monitoring.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: search-service-monitor
  namespace: {{ .Values.monitoring.serviceMonitor.namespace }}
  labels:
    {{- toYaml .Values.monitoring.serviceMonitor.labels | nindent 4 }}
spec:
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  selector:
    matchLabels:
      app: search-service
  endpoints:
    - port: http
      path: {{ .Values.monitoring.serviceMonitor.path }}
      interval: {{ .Values.monitoring.serviceMonitor.interval }}
      scheme: {{ .Values.monitoring.serviceMonitor.scheme }}
{{- end }}

