apiVersion: v1
kind: Service
metadata:
  name: search-service
  labels:
    app: search-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector:
    app: search-service
  ports:
    - name: http
      port: 8000
      targetPort: 8000
