apiVersion: v1
kind: Service
metadata:
  name: search-service
  labels:
    app: search-service
spec:
  type: {{ .Values.service.type }}
  selector:
    app: search-service
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
