replicaCount: 1

image:
  repository: piasotlar/search_service
  tag: v19
  pullPolicy: IfNotPresent

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  name: ""

podAnnotations: {}
podLabels: {}

service:
  type: ClusterIP
  port: 8000
  targetPort: 8000

env:
  # Lokalni Vite/React dev server
  - name: CORS_ORIGINS
    value: "http://localhost:5173"

  - name: ELASTICSEARCH_HOST
    value: "https://quickstart-es-http:9200"
  - name: ELASTICSEARCH_USER
    value: "elastic"
  - name: ELASTICSEARCH_PASSWORD
    valueFrom:
      secretKeyRef:
        name: quickstart-es-elastic-user
        key: elastic

  - name: JWT_SECRET
    valueFrom:
      secretKeyRef:
        name: app-secrets
        key: jwt-secret
  - name: JWT_ALGORITHM
    value: "HS256"

  - name: SOCIAL_SERVICE_URL
    value: "http://social-service:8000"
  - name: RECIPE_SERVICE_URL
    value: "http://recipe-service:8000/recipes"
  - name: USER_SERVICE_URL
    value: "http://user-service:8000/users"

livenessProbe:
  httpGet:
    path: /health
    port: 8000
  initialDelaySeconds: 20
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /health
    port: 8000
  initialDelaySeconds: 10
  periodSeconds: 10

resources: {}

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}

serviceMonitor:
  enabled: true
  namespace: monitoring
  labels:
    release: monitoring
  path: /metrics
  interval: 15s
  scheme: http
